<!-- when hard code into database with post API, remember to change all"" to '' in JSON -->

  <!-- backup JSON code  -->
<!-- Login post JSON {"email":"test@kppc.com.au", "password":"test123"} -->
<!-- template id = 66 2 products in each line-->
{
  "pageBody": "{TPL_BODY}",
  "sectionBannerHtml": "<tr><td><table class='line-1' style='border-collapse: collapse;font-family:Arial, Helvetica, sans-serif;' width='800' cellspacing='0' cellpadding='0' border='0'><tbody><tr><td style='border-collapse: collapse; box-sizing: border-box; border: none;' valign='top' bgcolor='transparent'><table class='line-2' style='width: 100%; height: 100%; border-collapse: separate;' width='100%' height='100%' cellspacing='0' cellpadding='0'><tbody><tr><td style='border: 0; border-collapse: separate; width: 100%; height: 100%; padding: 0px 10px 10px 10px;' valign='top'><table class='line-3' width='100%' cellspacing='0' cellpadding='0' border='0'><tbody><tr><td style='padding:0px;' valign='top'><table class='line-4' style='font-family: Arial, Helvetica, sans-serif; font-size: 10pt; line-height: 150%; table-layout: fixed;' width='100%' height='auto' cellspacing='0' cellpadding='0' border='0'><tbody><tr style='font-size: 10pt; line-height: 150%; '> <td style=' font-size: 0; line-height: 100%;'><a target='_blank' style='color: #000000; text-decoration: underline; ' href='{TPL_BANNER_LINK}'><img style='max-width: 100% !important; width: 100% !important; height: auto; display:block !important;  font-size: 12px;' alt='' title='' src='{TPL_BANNER_IMAGE_LINK}' width='800' border='0'></a></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></td></tr>",
  "RrpPriceHtml": "<p height='70' style='height: 70px;font-family:Arial, Helvetica, sans-serif;text-align: center; align-items:center;justify-content:center;'><span style='line-height: 150%; font-family:Arial, Helvetica, sans-serif; font-size: 13pt;'><strong><span style='line-height: 150%; font-family:Arial, Helvetica, sans-serif;font-size: 14pt; color: #ff0000;'><br>  {TPL_RRP_PRICE} inc<br><br><br></span></strong></span></p>",
  "MemberPriceHtml": "<p height='70' style='height: 70px;font-size: 10pt; line-height: 150%; text-align: center;'><span style='line-height: 150%; font-family:Arial, Helvetica, sans-serif; text-decoration: line-through; font-size: 13pt;'>{TPL_RRP_PRICE}</span><span style='line-height: 150%; font-family:Arial, Helvetica, sans-serif; font-size: 13pt;'><strong><br><span>Members Only Pay<br></span><span style='line-height: 150%; font-size: 14pt; color: #ff0000;'>  {TPL_MEMBER_PRICE} inc</span></strong></span></p>",
  "SpecialPriceHtml": "<p height='70' style='align-items:center;justify-content:center;font-family:Arial, Helvetica, sans-serif;height: 70px; font-size: 10pt; line-height: 150%; text-align: center;'><span style='line-height: 150%; font-family:Arial, Helvetica, sans-serif; text-decoration: line-through; font-size: 13pt;'>{TPL_RRP_PRICE} </span><span style='line-height: 150%; font-family:Arial, Helvetica, sans-serif; font-size: 13pt;'><strong><span style='line-height: 150%; font-size: 14pt; color: #ff0000;font-family:Arial, Helvetica, sans-serif;'><br> {TPL_SPECIAL_PRICE}<br><br></span><br></strong></span></p>",
  "discriptionHtml": "<ul style='font-size: 10pt; line-height: 150%;padding-left: 20px;'>{TPL_PRO_DISCRIPTION}</ul>",
  "singleDiscription": "<li style='text-align: left;'><span style='font-size: 10pt; line-height: 150%; text-align: left;'>{TPL_SINGLE_DISCRIPTION}<br></span></li>",
  "skuHtml": "<p style='font-size: 10pt; line-height: 150%; text-align: center;font-family:Arial, Helvetica, sans-serif;'>{TPL_SKU}</p>",
  "proNameHtml": "<p style='line-height: 150%; margin-top: 0px;color: #ffffff !important; font-size: 12pt; padding-left: 20px; padding-right: 6px; text-align: justify;font-family:Arial, Helvetica, sans-serif;'><span style='line-height: 150%; color: #000; text-decoration: none; font-size: 11pt;'>{TPL_PRO_NAME}<br></span></p>",
  "proImageHtml": "<p style='text-align:center;font-family:Arial, Helvetica, sans-serif;'><a target='_blank' style='color: #000000; text-decoration: underline; font-size: 10pt; line-height: 150%; {TPL_PRO_A_EXTRA_STYLE}' {TPL_PRO_LINK} {TPL_PRO_A_EXTRA_HTML_ATTR}><img src='{TPL_PRO_IMAGE_LINK}' alt='' width='250' height='250'></a></p>",
  "proItemBottom": "</tbody></table></td></tr></tbody></table>",
  "proItemTop": "<table class='line-5' style='font-family:Arial, Helvetica, sans-serif;width: 100%; height: 100%; border-collapse: separate;' width='100%' height='100%' cellspacing='0' cellpadding='0'><tbody><tr><td style='border: 0; border-collapse: separate; height: 100%; padding: 8px 8px 8px 8px;' valign='top'><table class='line-6' width='100%' cellspacing='0' cellpadding='0' border='0'><tbody>",
  "lineProductNo": "2",
  "tplName": "Two Columns"
}

<!-- template id = 67 3 products in each line-->
{
  "pageBody": "{TPL_BODY}",
  "sectionBannerHtml": "<tr><td><table class='line-1' style='border-collapse: collapse;' width='800' cellspacing='0' cellpadding='0' border='0'><tbody><tr><td style='border-collapse: collapse; box-sizing: border-box; border: none;' valign='top' bgcolor='transparent'><table class='line-2' style='width: 100%; height: 100%; border-collapse: separate;' width='100%' height='100%' cellspacing='0' cellpadding='0'><tbody><tr><td style='border: 0; border-collapse: separate; width: 100%; height: 100%; padding: 0px 10px 10px 10px;' valign='top'><table class='line-3' width='100%' cellspacing='0' cellpadding='0' border='0'><tbody><tr><td style='padding:0px;' valign='top'><table class='line-4' style='font-family: Arial, Helvetica, sans-serif; font-size: 10pt; line-height: 150%; table-layout: fixed;' width='100%' height='auto' cellspacing='0' cellpadding='0' border='0'><tbody><tr style='font-size: 10pt; line-height: 150%; '> <td style=' font-size: 0; line-height: 100%;'><a target='_blank' style='color: #000000; text-decoration: underline; ' href='{TPL_BANNER_LINK}'><img style='max-width: 100% !important; width: 100% !important; height: auto; display:block !important;  font-size: 12px;' alt='' title='' src='{TPL_BANNER_IMAGE_LINK}' width='800' border='0'></a></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></td></tr>",
  "RrpPriceHtml": "<p height='70' style='height: 70px;font-family:Arial, Helvetica, sans-serif;text-align: center;align-items:center;justify-content:center;'><span style='line-height: 150%; font-family: Arial, Helvetica, sans-serif;font-size: 13pt;'><strong><span style='line-height: 150%; font-size: 14pt; color: #ff0000;'><br> {TPL_RRP_PRICE} <br><br><br></span><br></strong></span></p>",  
  "MemberPriceHtml": "<p height='70' style='font-family:Arial, Helvetica, sans-serif;height: 70px;font-size: 10pt; line-height: 150%; text-align: center;'><span style='line-height: 150%; font-family:Arial, Helvetica, sans-serif; text-decoration: line-through; font-size: 13pt;'>{TPL_RRP_PRICE}</span><span style='line-height: 150%; font-family:Arial, Helvetica, sans-serif; font-size: 13pt;'><strong><br><span>Members Only Pay<br></span><span style='line-height: 150%; font-size: 14pt; color: #ff0000;'> {TPL_MEMBER_PRICE} </span></strong></span></p>",  
  "SpecialPriceHtml": "<p height='70' style='font-family:Arial, Helvetica, sans-serif;align-items:center;justify-content:center;height: 70px; font-size: 10pt; line-height: 150%; text-align: center;'><span style='line-height: 150%; font-family:Arial, Helvetica, sans-serif; text-decoration: line-through; font-size: 13pt;'>{TPL_RRP_PRICE} </span><span style='line-height: 150%; font-family:Arial, Helvetica, sans-serif; font-size: 13pt;'><strong><span style='line-height: 150%; font-size: 14pt; color: #ff0000;'><br> {TPL_SPECIAL_PRICE} <br><br></span><br></strong></span></p>",  
  "discriptionHtml": "<ul style='font-size: 10pt; line-height: 150%; padding-left: 20px;'>{TPL_PRO_DISCRIPTION}</ul>",
  "singleDiscription": "<li style='text-align: left;font-family:Arial, Helvetica, sans-serif;'><span style='font-size: 10pt; line-height: 150%; text-align: left;'>{TPL_SINGLE_DISCRIPTION}<br></span></li>",
  "skuHtml": "<p style='font-size: 10pt; line-height: 150%; text-align: center;font-family:Arial, Helvetica, sans-serif;'>{TPL_SKU}</p>",
  "proNameHtml": "<p style='line-height: 150%; color: #ffffff !important; font-size: 12pt; padding-left: 20px; padding-right: 6px; text-align: center;font-family:Arial, Helvetica, sans-serif;'><span style='line-height: 150%; color: #000; text-decoration: none; font-size: 11pt;'>{TPL_PRO_NAME}<br></span></p>", 
  "proImageHtml": "<p tyle='text-align:center;font-family:Arial, Helvetica, sans-serif;'><a target='_blank' style='color: #000000; text-decoration: underline; font-size: 10pt; line-height: 150%; {TPL_PRO_A_EXTRA_STYLE}' {TPL_PRO_LINK} {TPL_PRO_A_EXTRA_HTML_ATTR}><img src='{TPL_PRO_IMAGE_LINK}' alt='' width='250' height='250'></a></p>",
  "proItemBottom": "</tbody></table></td></tr></tbody></table>",
  "proItemTop": "<table class='line-5' style='width: 100%; height: 100%; border-collapse: separate;font-family:Arial, Helvetica, sans-serif;' width='100%' height='100%' cellspacing='0' cellpadding='0'><tbody><tr><td style='border: 0;font-family:Arial, Helvetica, sans-serif; border-collapse: separate; height: 100%; padding: 8px 8px 8px 8px;' valign='top'><table class='line-6' width='100%' height='100%' cellspacing='0' cellpadding='0' border='0'><tbody>",
  "lineProductNo": "3",
  "tplName": "Three Columns"
}
<!-- id = 68 One Column -->
{
  "pageBody": "{TPL_BODY}",
  "sectionBannerHtml": "<tr><td><table class='line-1' style='font-family:Arial, Helvetica, sans-serif;border-collapse: collapse;' width='800' cellspacing='0' cellpadding='0' border='0'><tbody><tr><td style='border-collapse: collapse; box-sizing: border-box; border: none;' valign='top' bgcolor='transparent'><table class='line-2' style='width: 100%; height: 100%; border-collapse: separate;' width='100%' height='100%' cellspacing='0' cellpadding='0'><tbody><tr><td style='border: 0; border-collapse: separate; width: 100%; height: 100%; padding: 0px 10px 10px 10px;' valign='top'><table class='line-3' width='100%' cellspacing='0' cellpadding='0' border='0'><tbody><tr><td style='padding:0px;' valign='top'><table class='line-4' style='font-family: Arial, Helvetica, sans-serif; font-size: 10pt; line-height: 150%; table-layout: fixed;' width='100%' height='auto' cellspacing='0' cellpadding='0' border='0'><tbody><tr style='font-size: 10pt; line-height: 150%; '> <td style=' font-size: 0; line-height: 100%;'><a target='_blank' style='color: #000000; text-decoration: underline; ' href='{TPL_BANNER_LINK}'><img style='max-width: 100% !important; width: 100% !important; height: auto; display:block !important;  font-size: 12px;' alt='' title='' src='{TPL_BANNER_IMAGE_LINK}' width='800' border='0'></a></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></td></tr>",
  "RrpPriceHtml": "",
  "MemberPriceHtml": "",
  "SpecialPriceHtml": "",
  "discriptionHtml": "",
  "singleDiscription": "",
  "skuHtml": "",
  "proNameHtml": "",
  "proImageHtml": "",
  "proItemBottom": "",
  "proItemTop": "",
  "allowNoProduct": "0",
  "lineProductNo": "0",
  "tplName": "One Column"
}
